<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="main">
    <div class="box">

  <%= form_for @developer do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br />

  <%= f.label :location %>
  <%= f.text_field :location %><br />

  <%= f.label :img_url %>
  <%= f.text_field :img_url %><br />

  <%= f.submit %>
<% end %>

    </div>
  </div>
</body>
</html>
