<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="main">
    <div class="box">

    <h1><%= @developer.name %></h1>
    <h3><%= @developer.location %></h3>
    <img src="<%= @developer.img_url %>" alt="">

    <%= button_to "Delete", developer_path(@developer), method: :delete %>

    <p><%= link_to "back", developers_path %></p>
    <p><%= link_to "home", user_path(@current_user) %></p>

    </div>
  </div>
</body>
</html>
