<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <ul class='test'>
    <div class="navbar">
    <div class="">
    <li>
      <%= link_to "All Developers", developers_path%>
    </li>
    <li>
      <%= link_to "All Projects", projects_path %>
    </li>
    <li>
      <%= link_to "All Skills", skills_path%>
    </li>
    <li>
      <%= link_to "Create a Project", new_project_path %>
    </li>
      </div>
      <div class="">
    <li>
      <%= button_to "logout", "/logout", method: :delete %>
    </li>
  </div>
  </div>
  </ul>
  
  <div class="main">
    <div class="box">

    <h1><%= @developer.name %></h1>
    <h3><%= @developer.location %></h3>
    <img src="<%= @developer.img_url %>" alt="">

    <h3>Skills</h3>

        <% @developer.skillsets.each do |skillset| %>
          <span class="badge badge-secondary"><%= skillset.skill.name %></span><br>
        <% end %>


    <p>Total Skills: <%= @developer.total_skills%></p>

    <button type="button" class="btn btn-warning">
      <form action="/skillsets/new" method="get">
        <input type="hidden" name="developer_id" value= "<%= @developer.id %>">
        <input type="submit" value="Add Skill">
    </form>
    </button>

    <h3>Reviews</h3>
      <ul>
        <% @developer.reviews.each do |review| %>
          <li><%= review.content %> - <%= review.user.name %></li>
        <% end %>
      </ul>

      <% if @developer.reviews.length != 0 %>
        <p>Avg Rating: <%= @developer.avg_rating  %></p>
      <% end %>


    <button type="button" class="btn btn-warning"><%= button_to "Delete this Developer", developer_path(@developer), method: :delete %></button>



    </div>
  </div>
</body>
</html>
