<h1>Name: <%= @developer.name %></h1>

<h3>Location: <%= @developer.location %></h3>

<h3>Skills</h3>

<p><%= link_to "add skill", new_skillset_path %></p>

<p><%= link_to "back", developers_path %></p>
<p><%= link_to "home", user_path(@current_user) %></p>
