<h2 align="center">add developer to <%= @project.name%></h2>


<%= form_for @job do |f| %>
  <%= f.label :developer %>
  <%= f.collection_select :developer_id, @developers, :id, :name %><br />
  <input type="hidden" name="project_id" value= "<%= @project.id %>">
  <%= f.submit "add developer" %>
<% end %>
