<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <div class="main">
    <div class="box_new_project">

<% if flash[:errors] %>
<ul>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
    <% end %>
</ul>
<% end %>

<%= form_for @project do |f|%>
  <%= f.label :name %><br>
  <%= f.text_field :name %><br />
  <br>
  <%= f.submit %>
<% end %>

</div>
</div>
</body>
</html>
