<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div class="main">
<div class="box_project_show">

  <div class="box_project_show_header">
    <h1>This is <%= @project.name %> project</h1>
    <p> Owned by: <%= link_to @project.user.name, user_path(@project.user) %></p>
    <h2>Team:</h2>
    <button type="button" class="btn btn-outline-warning"><%= link_to "Add Developer", new_job_path %></button><br><br>
    <button type="button" class="btn btn-outline-warning"><%= link_to "All your projects", projects_path %></button><br><br>
    <button type="button" class="btn btn-outline-warning"><%= button_to "Delete this project", project_path(@project), method: :delete %></button><br><br>
  </div>

  <div class="grid-container">
    <% @project.developers.each do |developer| %>
      <div class="grid-item">
        <img src="<%= developer.img_url %>" alt=""> <br>
        <button type="button" class="btn btn-outline-warning"><%= link_to developer.name, developer %></button>
      </div>
    <% end %>
  <div>
</div>
</div>
</body>
</html>
